{% extends "Layout.html" %}
{% block content %}
<div class="container">

    <form method= "post" action = "{{url_for('search')}}">
    {{ form.csrf_token }}
    <div class="row justify-content-center align-items-center">
    <div class = "col-md">
    <div>From:</Div>
        
        {{ form.depart(class_="selectpicker", data_live_search="true")}}

    </div>

    <div class = "col-md text-center">
    <i class="fa-solid fa-arrow-right fa-2xl" ></i>
    </div>

    <div class = "col-md">
    <div>To:</div>
    {{ form.arrival(class_="selectpicker",data_live_search="true")}}
    </div>
</div>
    <div class="row justify-content-center align-items-center">
    <div class="col text-center">
    <input type="submit">
    </div>
</div>
</form>
</div>
{% endblock content%}
{% block searchres %}{% endblock %}